@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
@import "tailwindcss";

@theme {
  --font-young-Serif: "Young Serif", "serif";
  --font-outfit: "Outfit", "sans-serif";
}

.body {
  background-color: #f3e4d8;
}

.custom-marker li::marker {
  color: #854632;
  font-weight: bold;
}
.sub-heading {
  @apply font-semibold text-2xl text-[#854632] font-young-Serif;
}
